<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>MindLook-iPad mini 4.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>40189893</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>40189893</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>48182840</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>48182840</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantIds</key>
			<array>
				<string>iPad5,1</string>
				<string>iPad5,2</string>
			</array>
			<key>variantNames</key>
			<array>
				<string>iPad mini 4</string>
				<string>iPad mini 4</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
